.login-page-content {
  .instructions {
    text-align: center;
    font-size: medium;
    margin: 50px;
  }

  .text-input{
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
  }
}